<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/add.css"/>
    <script src="/static/js/jquery-3.6.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <title>🌚 Yourdemy</title>
  </head>
  <body>
    <div class="container mt-5 mb-5 d-flex justify-content-center">
      <div class="card px-1 py-4" id="cardForm">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    id="fullPath"
                    placeholder="Enter full path to playlist folder"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column text-center px-5 mt-3 mb-3">
            <small class="agree-text"> Example : C:\user\sample</small>
          </div>
          <button class="btn btn-primary btn-block confirm-button" id="submitButton">
            Submit
          </button>
        </div>
      </div>

      <div class="spinner-border text-success" role="status" hidden id="success-spinner">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <script src="/static/js/add.js"></script>
  </body>
</html>
