{% extends "base.html" %}
{% block title %} 🌚 Yourdemy{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
{{super()}}
    <div class="row">
        <div class="col-6">
            <!-- <div class="alert alert-success my-4 mx-1"> 
                <h1>Your playlists</h1>
            </div> -->
        </div>
        <div class="col-6">
            
        </div>
    </div>
    <div class="row  justify-content-center pt-4">
        {% for course in  course_list%} 
            <div class="card m-4 animate" style="width: 18rem;">
                <img src="/static/images/VideoIcon.jpg" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{course["name"]}}</h5>
                  <p class="card-text ">Total duration <span class="badge badge-secondary">{{course["duration"]}}</span></p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{course['progress']}}%;" aria-valuenow="{{course['progress']}}" aria-valuemin="0" aria-valuemax="100">{{course['progress']}}%</div>
                  </div>
                  <br>
                  <a href="/resume/{{loop.index0}}" class="btn btn-primary">Resume ></a>
                </div>
              </div>
        {% endfor %}
    </div>
{% endblock %}