{% extends "base.html" %}
{% block title %} 🌚 Yourdemy{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
{{super()}}
    <div class="row">
        <div class="col-6">
            <!-- <div class="alert alert-success my-4 mx-1"> 
                <h1>Your playlists</h1>
            </div> -->
        </div>
        <div class="col-6">
            
        </div>
    </div>
    <div class="row bg-gray justify-content-center pt-4">
            <div class="card m-4 animate" style="width: 18rem;">
                <img src="https://i.pinimg.com/564x/61/2d/9d/612d9d6e70fe54f4c10c41eaac9508af.jpg" height="300px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Video one</h5>
                  <p class="card-text">Total duration 15hrs</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                  <br>
                  <a href="#" class="btn btn-primary">Resume ></a>
                </div>
              </div>
              
    </div>
{% endblock %}